.container {
  h1 {
    font-size: var(--s32);
    margin-bottom: var(--s32);
  }
}

.nameClasses {
  margin-bottom: var(--s64);
}

.labelAddClasses {
  font-size: var(--s24);
  font-weight: bold;
  margin-bottom: var(--s32);
}

.btnRegister {
  margin-top: var(--s64);
}

.contentWrap {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  gap: 32px;
  grid-column: 1/-1;
}

.closeContent {
  position: relative;
  top: 56px;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: crimson;
  font-weight: bold;
  background-color: var(--gray-100);
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.btnAdd {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  color: var(--yellow-main);
  background-color: var(--black-main);
  border: none;
  font-size: var(--s32);
  font-weight: bold;
  grid-column: 1/-1;
  margin: 0 auto;
  transition: 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.resources {
  grid-column: 1/-1;
}

@media (max-width: 750px) {
  .contentWrap {
    grid-template-columns: 1fr;

    .closeContent {
      top: 10px;
      margin: auto;
    }
  }
}
