.button {
  background-color: var(--yellow-main);
  color: var(--black-main);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
  padding: var(--s24);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;

  &:hover {
    background-color: var(--yellow-hover);
  }
}

.buttonBlack {
  background-color: var(--black-main);
  color: var(--white);
  border-radius: 4px;
  border: none;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.16);
  padding: var(--s24);
  font-weight: bold;
  font-size: 18px;
  transition: 0.2s ease;

  &:hover {
    background-color: rgb(34, 34, 34);
  }
}

.loading {
  cursor: not-allowed;
  color: #0f0f0e65;
  display: flex;
  justify-content: center;
  align-items: center;
  
  div {
    margin-left: 1rem;
  }
}
