* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  // colors
  --white: #f6f6f0;
  --yellow-main: #f3f00d;
  --yellow-100: #f8f790; // Hover para as tables && table 'ultima aulas' no dashboard
  --black-main: #0f0f0e;
  --black-100: #373735; // bg header lateral && borda input text
  --gray-100: #f5f5f5; // bg das tables
  --gray-200: #eeeeee; // filtro de busca
  --gray-300: #e9e9e9; // Hover para as tables do dashboard && Linhas separadoras
  --yellow-hover: #e2de04;

  // spacing or size
  --s8: 0.5rem;
  --s16: 1rem;
  --s24: 1.5rem;
  --s32: 2rem;
  --s64: 4rem;
}

html,
body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f7f7f4;
  color: var(--black-main);
}

body,
input,
textarea,
select,
button {
  font: 400 var(--s16) "Rubik", Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  display: grid;
  grid-template-columns: 280px repeat(6, 1fr);
  gap: var(--s16);
}

.mainContainerMobile {
  display: grid;
  grid-template-columns: 71px repeat(6, 1fr);
  gap: var(--s16);
}
