* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  // colors
  --white: #f6f6f0;
  --yellow-main: #f3f00d;
  --yellow-100: #f8f790; // Hover para as tables && table 'ultima aulas' no dashboard
  --black-main: #0f0f0e;
  --black-100: #373735; // bg header lateral && borda input text
  --gray-100: #f5f5f5; // bg das tables
  --gray-200: #eeeeee; // filtro de busca
  --gray-300: #e9e9e9; // Hover para as tables do dashboard && Linhas separadoras
  --yellow-hover: #e2de04;

  // spacing or size
  --s8: 0.5rem;
  --s16: 1rem;
  --s24: 1.5rem;
  --s32: 2rem;
  --s64: 4rem;
}

html,
body {
  font-family: "Rubik", Helvetica, Arial, sans-serif;
}

body {
  background-color: #f7f7f4;
  color: var(--black-main);
}

body,
input,
textarea,
select,
button {
  font: 400 var(--s16) "Rubik", Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.mainContainer {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: var(--s16);
}

.mainContainerMobile {
  display: grid;
  grid-template-columns: 71px 1fr;
  gap: var(--s16);
}

.mainWrapper {
  padding: var(--s32);
  grid-column: 2/-1;
}

.btnBack {
  background: none;
  border: none;
}

.ql-editor {
  min-height: 200px;
}

// Table
.tableContainer {
  border-radius: 2px 2px 0 0;
  overflow-x: auto;
}

.table {
  border-collapse: collapse;
  width: 100%;
  transition: 0.2s;
  overflow-x: scroll;

  thead {
    th {
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--black-main);
      color: var(--white);
      text-align: left;
      font-size: 1.1rem;
      padding: var(--s24);
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: var(--yellow-100);
      }

      &:nth-of-type(even) {
        background-color: var(--gray-100);

        &:hover {
          background-color: var(--yellow-100);
        }
      }
    }

    td {
      padding: var(--s16) var(--s24);

      &:last-child {
        text-align: right;
        display: flex;
        justify-content: flex-end;
        flex-wrap: nowrap;

        button {
          border: none;
          background: none;

          img {
            min-width: 24px;
          }

          &:first-child {
            margin-right: 24px;
          }
        }
      }
    }

    .link {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .tableContainer {
    max-width: 700px;
  }
}

// Modal
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .modalWrapper {
    max-width: 440px;
    padding: var(--s32);
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    h3 {
      font-size: var(--s32);
      margin-bottom: var(--s32);
    }

    p {
      margin-bottom: var(--s64);
    }

    .btns {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: var(--s32);

      button {
        font-weight: bold;
        border: none;
        padding: 1rem;
        border-radius: 2px;
        transition: 0.2s ease;

        &:hover {
          filter: brightness(0.9);
        }
      }
      button:nth-child(1) {
        background-color: var(--yellow-main);
        color: var(--black-main);
      }
      button:nth-child(2) {
        background-color: var(--black-main);
        color: var(--white);
      }
    }
  }
}

// Animações
.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: anime 0.3s forwards;
}

.animeUp {
  opacity: 0;
  transform: translateY(-30px);
  animation: anime 0.3s forwards;
}

@keyframes anime {
  to {
    opacity: 1;
    transform: initial;
  }
}
